<h1 id="book_title">
  <%= render :partial => "book" %>
</h1>

<dl>
  <dt>
    Authors
  </dt>
  
  <dd>
    <ul id="authors">
      <% unless @book.authors.blank? %>
        <%= render :partial => "authorship", :collection => @book.authorships %>
      <% else %>
        <li><em>No authors</em></li>
      <% end %>
    </ul>
  </dd>

  <dt>Add authors</dt>
  <dd id="add_authors">
    <ul id="all_authors">
      <% unless @authors.blank? %>
        <%= render :partial => "author", :collection => @authors %>
      <% else %>
        <li><em>No more authors to add</em></li>
      <% end %>
    </ul>
  </dd>
  
  <dt>
    <%= link_to_function "Edit", "$('update_info').toggle()" %>
  </dt>
  
  <dd id="update_info" style="display:none;">
    <% remote_form_for(@book) do |f| %>

    <%= error_messages_for(:book) %>

      Title: <%= f.text_field :title %><br />
      ISBN: <%= f.text_field :isbn %><br />

      <%= submit_tag "Update" %>
    <% end %>
  </dd>
</dl>


<%= link_to 'Back', books_path %>